*{
	box-sizing: border-box;
}
a{
  text-decoration:none;
}
body{
	padding:0;
	margin:0;
	font-family: 'Montserrat',sans-serif;
}

.header__top{
	background-color:#252525;
		

}
.header__inner{
	display: flex;
	justify-content: space-between;
	align-item:center;
}

.container{
	max-width: 1200px;
	margin:0 auto;
	padding:0 auto;
}

.logo-img{
	margin-top: 26px;
	
}

.menu__list{
	padding-left: 42px;
	display: flex;
	justify-content: space-between;
	list-style:none;
	margin-top: 31px;

	
}

.menu__list-item{
	margin-left: 35px;
	
}

.menu__list-link{
    font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	white-space: nowrap;
    color:#FFFFFF;
    text-decoration: none;
}

.header__top-btn{
	border: 1px solid #515151;
	width: 80px;
	height: 28px;
	border-radius: 33px;
	cursor:pointer;
	margin: 26px 21px 15px;
	background: #252525;
	color:#515151;
	background-repeat: no-repeat;
	padding: 4px 5px 9px 28px;
}

.header__top-input{
	border: 1px solid #515151;
	width: 153px;
	height: 28px;
	border-radius: 33px;
}

.header__top-input{
	margin-top: 25px;
	margin-right: 21px;
	background-color:#252525;
	color:#515151;
}

.header__top-link{
	color: #FAF9F9;
/* 	margin-top: 14px; */
  padding-left:15px

}
.header__top-tel {
	color:#fff;
}
.order {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
/* 	border-bottom: 1px solid #03C5F6; */
/*   margin-left:37px; */
/*   padding:10px  0; */
}

.order a{
	color: #03C5F6;

}

.header__bottom{
	display: flex;
	justify-content: spice-between;
}

.menu__bottom{
/* 	display: flex; */
/* 	justify-content:spice-between */
  
}

.menu__bottom-line{
	display: flex;
	justify-content: space-between;
	align-items:center;
	white-space: nowrap;
	list-style:none;
  background: #515151;
    border-radius: 33px;
    width: 800px;
    height: 38px;
    display: flex;
/*     justify-content: flex-start; */
    margin-bottom: 16px;
    margin-left: 50px;
  padding-right:20px;
  line-height: 38px;
}


.menu__bottom-item + .menu__bottom-item{
	margin-left: 49px;
	display: flex;
}

.menu__bottom-link{
 	 font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	
	color:#FAF9F9;
}

.korzina__link{
	margin-left: 70px;
	color: #03C5F6;
}

.header__border{
	background: #515151;
	border-radius: 33px;
    width: 825px;
    height: 38px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
    margin-right: 55px;
}

.user__link{
	margin-right: 55px;
	display: flex;
	align-items:center;
}